body{
  background: #050816;
  color: white;
  font-family: Arial, sans-serif;
}

.card{
  background: rgba(17, 24, 39, 0.95);
  border: 1px solid #00ffff;
  border-radius: 20px;
  box-shadow:
    0 0 10px #00ffff,
    0 0 20px #00ffff33;
}

input,
textarea,
select{
  background: #111827 !important;
  color: white !important;
  border: 1px solid #00ffff !important;
}

input::placeholder,
textarea::placeholder{
  color: #aaa !important;
}

.form-control:focus{
  box-shadow:
    0 0 10px #00ffff !important;
  border-color: #00ffff !important;
}

.btn-primary{
  background: #00ffff;
  border: none;
  color: black;
  font-weight: bold;
}

.btn-primary:hover{
  background: #00cccc;
}

.btn-success{
  background: #00ff99;
  border: none;
  color: black;
  font-weight: bold;
}

.btn-success:hover{
  background: #00cc77;
}

.btn-warning{
  background: #ffcc00;
  border: none;
  color: black;
}

.btn-danger{
  background: #ff0066;
  border: none;
}

h1,h2,h3,h4,h5{
  color: #00ffff;
  text-shadow:
    0 0 10px #00ffff;
}

a{
  text-decoration: none;
}