*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  min-height:100vh;

  background:
    radial-gradient(circle at top left,#00ffff22,transparent),
    radial-gradient(circle at bottom right,#ff00ff22,transparent),
    #050816;

  font-family:Arial, sans-serif;

  color:white;
}

.main-container{

  width:100%;
  min-height:100vh;

  display:flex;

  justify-content:center;
  align-items:center;

  padding:20px;
}

.login-card{

  width:100%;
  max-width:450px;

  background:#111827;

  border:2px solid #00ffff;

  border-radius:20px;

  padding:40px;

  box-shadow:
    0 0 20px #00ffff,
    0 0 50px #00ffff33;
}

.title{

  text-align:center;

  color:#00ffff;

  margin-bottom:10px;

  text-shadow:
    0 0 10px #00ffff,
    0 0 20px #00ffff;
}

.subtitle{

  text-align:center;

  color:#aaa;

  margin-bottom:30px;
}

.form-control{

  background:#0f172a !important;

  border:1px solid #00ffff !important;

  color:white !important;
}

.form-control::placeholder{
  color:#999 !important;
}

.form-control:focus{

  box-shadow:
    0 0 15px #00ffff !important;

  border-color:#00ffff !important;
}

.neon-btn{

  background:#00ffff;

  color:black;

  border:none;

  font-weight:bold;

  box-shadow:
    0 0 10px #00ffff;
}

.neon-btn:hover{

  background:#00cccc;

  color:black;
}

.neon-btn-green{

  background:#00ff99;

  color:black;

  border:none;

  font-weight:bold;

  box-shadow:
    0 0 10px #00ff99;
}

.neon-btn-green:hover{

  background:#00cc77;

  color:black;
}

textarea{
  resize:none;
}

.spinner-border{
  margin-right:8px;
}

button:disabled{
  opacity:0.8;
  cursor:not-allowed;
}

.sidebar{

  background:#081120;

  border-right:
  2px solid #00ffff;

  box-shadow:
  0 0 20px #00ffff33;

}

.movie-card{

  transition:0.3s;
}

.movie-card:hover{

  transform:translateY(-5px);

  box-shadow:
  0 0 20px #00ffff;
}

.table{

  border-color:#00ffff !important;
}

.table th,
.table td{

  color:white !important;
}