body{
  background: #111827;
  color: white;
  font-family: Arial, sans-serif;
}

.card{
  background: #1f2937;
  border: none;
  border-radius: 15px;
}

.form-control,
textarea{
  background: #374151;
  color: white;
  border: none;
}

.form-control:focus,
textarea:focus{
  background: #374151;
  color: white;
  box-shadow: none;
}

.btn-primary,
.btn-success{
  border-radius: 10px;
}

a{
  color: #60a5fa;
  text-decoration: none;
}